<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration monitorInterval="30">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout  charset="UTF-8" pattern="%d{HH:mm:ss.SSS} %-5level %X{apiRequestId} %logger{36}.%M() @%L : %msg%n" />
        </Console>
        <RollingRandomAccessFile  name="AsyncAppender">
            <FileName>D:/FcgScheduler/ApplicationLog/Log1.log</FileName>
            <FilePattern>D:/FcgScheduler/ApplicationLog/archive/%d{yyyy-MM-dd-hh}-%i.log.zip</FilePattern>
            <PatternLayout  charset="UTF-8" pattern="%d{yyyy-MMM-dd HH:mm:ss SSS} %-5level %X{apiRequestId} %logger{36}.%M() @%L : %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingRandomAccessFile >
                
        <Async name="Async">
            <AppenderRef ref="AsyncAppender"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="com.schedular" level="debug" additivity="false">
            <AppenderRef ref="AsyncAppender" />
            <!-- <AppenderRef ref="Console" /> -->
        </Logger>
        <Root level="info">
        <AppenderRef ref="Console" />
            <!--<AppenderRef ref="Console" />  -->
        </Root>
    </Loggers>
    
</Configuration>